<div class="skills">
  <table>
    <tr>
      <td class="title">Languages:</td>
      <td>C#</td>
    </tr>

    <tr>
      <td class="title">Technologies:</td>
      <td class="text">.NET, Angular 2+, Entity Framework</td>
    </tr>

    <tr>
      <td class="title">Web Dev:</td>
      <td class="text">TypeScript, JavaScript, Html, CSS, Sass, D3.js</td>
    </tr>


    <tr>
      <td class="title">Software Tools and IDE:</td>
      <td class="text">Visual Studio Code, Visual Studio 2017, Postman, Git, 
        WebStorm, SharePoint, SSMS (SQL Server), Azure DevOps, Azure
      </td>
    </tr>


    <tr>
      <td class="title">Servers/Databases:</td>
      <td class="text">T-SQL</td>
    </tr>


    <tr>
      <td class="title">Operating Systems:</td>
      <td class="text">Windows</td>
    </tr>
   
  </table>
</div>
