<div class="contact">
  <div class="card">
    <div class="card-header">
      <h4>Contact Details</h4>
    </div>
    <div class="card-body">
      <h5 class="card-title">Email:</h5>
      <p class="card-text">shlokipatel@gmail.com</p>
      
      <h5 class="card-title">Phone:</h5>
      <p class="card-text">(385)630-3043</p>
      
      <h5 class="card-title">GitHub:</h5>
      <p class="card-text"><a href="https://github.com/shlok297" target="_blank">https://github.com/shlok297</a></p>
      
      <h5 class="card-title">LinkedIn:</h5>
      <p class="card-text"><a href="https://www.linkedin.com/in/shlokp/" target="_blank">https://www.linkedin.com/in/shlokp/</a></p>
    </div>
  </div>
</div>
