<div class="activities">
<table>
    <br>
    <b class="dates">Apr’17–May’18</b>
    <tr>
        <td>
            <b>Guest Service Associate</b>, Natural History Museum of Utah, Salt Lake City, Utah
        </td>
      </tr>
      <tr>
        <td>
          <ul>
            <li>
              Skillfully anticipated, addressed guests' needs and provided customer service effectively to 200+ people per day
            </li>
          </ul>
        </td>
      </tr>
  <br>
  <b class="dates">Jun’13–May’14</b>
  <tr>
    <td>
        <b>Embedded Software Intern</b>, Space Application Center, India
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        <li>
          Designed, developed and integrated hardware components of Doppler radar which measures speed of the moving vehicles
        </li>
        <li>
          Programmed ARM Cortex-M0 processor for converting the incoming frequencies to human readable (miles/hour) values
        </li>
      </ul>
    </td>
  </tr>
</table>
</div>


