.content-text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 60px;
    color:#dfe6e9;
    z-index: 99;
    width: 100%;
    height: 90vh;
    background-image: url('../../assets/IMG_9365.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.content-text-intro {
    text-align: center; 
    font-style: italic;
    font-weight: bold;
    font-size: 60px;
}

.content-text-occupation {
    text-align: center;
    font-size: 25px;
}